
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: block;
  background-color: #00CFFF;
  height: 100%;
  width: 100%;
  position:absolute;
}

header{
  display: flex;
  height: 10%;
  width: 100%;
  background-color: rgba(41, 40, 40, 0);
  border: 0cap;
  justify-content: flex-end;
  position:fixed ;
}

section {
  width: 100%;
  height: 100%;

}

a {
  color: #00CFFF;
  text-decoration: none;
}


#sobreMin {
  background-color: rgb(22, 24, 31);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  background-image: url(imagem/fotoPerfil.png);
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;
}

#formacao {
  background-image: url(imagem/formacao.jpg);
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10%;
}

#portifolio {
  background-image: url(imagem/portifolioImg.avif);
  background-size: cover;  
  background-position: center; 
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 10%;
}

#textPerfil {
  /* background-color: brown; */
  width: 100%;
  height: 100%;
  padding: 5%;
  display: flex;
  align-items: center;
  align-content: center;
}


#texto{
  color: #D3D3D3;
  font-size: 25px;

  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

#nome {
  color: #FFD700;
  font-size: 50px;
}

#QI {
  background-color: rgb(182, 29, 29);
  padding: 2%;
}
#textqi {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;

  text-align: center;
}
#instqi {
  font-size: 17px;
}
#qi{
  font-size: 30px;
}

#divUninter {
  background-color: rgb(18, 18, 141);
  padding: 2%;
}
#textuninter {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;

  text-align: center;
}
#uninter{
  font-size: 30px;
}

#imgMedio {
  height: 60px;
  width: 60px;
}
#divMedio {
  background-color: rgb(96, 96, 97);
  padding: 2%;
}
#textMedio {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;

  text-align: center;
}
#isaEspanha{
  font-size: 20px;
}

#mario {
  background-color: rgb(182, 29, 29);
  padding: 2%;
}
#textmario {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;


}
#titulomario{
  font-size: 30px;
  text-align: center;
}
#buttonmario {
  height: 30px;
  width: 70px;
  border-radius: 6px;
  border: none;
  background-color: rgb(12, 12, 189);
  color: white;
  cursor: pointer;
}

#priPortifolio {
  background-color: rgb(96, 96, 97);
  padding: 2%;
}
#textoport {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: white;


}
#tituloport{
  font-size: 20px;
  text-align: center;
}
#buttonport {
  height: 30px;
  width: 70px;
  border-radius: 6px;
  border: none;
  background-color: rgb(12, 12, 189);
  color: white;
  cursor: pointer;
}


#contato {
  background-color: rgb(14, 13, 13);
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#formContato {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: white;
  font-family: "Rubik", sans-serif;
}

#formContato h2 {
  text-align: center;
  margin-bottom: 10px;
  color: #FFD700;
}

#formContato label {
  font-size: 14px;
}

#formContato input,
#formContato textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  font-size: 14px;
}

#formContato button {
  background-color: #00CFFF;
  color: black;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

#formContato button:hover {
  background-color: #FFD700;
}



.menu {
  width: 50%;
  /* background-color: aliceblue ; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.cursos {
  height: 350px;
  width: 300px;
  background-color: green;
  border-radius: 15px;
}

.projetos {
  height: 350px;
  width: 300px;
  background-color: green;
  border-radius: 15px;
}

.rgb-button {
  position:relative;
  padding: 12px 40px;
  font-size: 15px;
  color: #00CFFF;
  background-color: #111;
  border: none;
  cursor: pointer;
  z-index: 1;
  border-radius: 8px;
  overflow: hidden;
  margin: 10px;
}